
    @import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800");
/*PART1*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h3 {
    font-size: 44px;
    line-height: 55px;
    color: #121212;
    font-weight: 600;
}

h6 {
    font-size: 20px;
    line-height: 32px;
    color: #6c6c6c;
    font-weight: normal;
    margin-top: 16px;
}

.main-btn {
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    padding: 0 32px;
    font-size: 16px;
    line-height: 48px;
    color: #0067f4;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out 0s;
    z-index: 5;
}




/************Nav**********/

.logo img {
    width: 75px;
    margin-left: 10px;
}

.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.3rem 6.5rem;
    background: white;
    transition: all 0.5s ease;
    z-index: 100000;
}


    .nav.scrolled {
        background-color: #fff !important;
        transition: background-color 200ms linear;
        box-shadow: 7px 10px 15px rgba(0,0,0,0.3);
    }


    .nav .navbar-toggler {
        display: none;
        border: none;
        outline: none;
    }


        .nav .navbar-toggler .toggler-icon {
            width: 27px;
            height: 3px;
            background-color: #121212;
            margin: 5px;
            position: relative;
            display: block;
            transition: all 0.3s ease-out 0s;
        }

    .nav .menu-bar .menu-items {
        display: flex;

        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        .nav .menu-bar .menu-items li {
            margin: 0 15px;
        }

    .nav .menu-bar .menu-item li a {
        color: #000;
        font-size: 18px;
        font-weight: 600;
    }

        .nav .menu-bar .menu-item li a:hover {
            color: #4F47E4;
        }

    .nav .navbar-social {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

        .nav .navbar-social span {
            font-size: 18px;
            font-weight: 600;
            padding-right: 10px;
            color: #6c6c6c;
        }

        .nav .navbar-social ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }



            .nav .navbar-social ul li a {
                color: #6c6c6c;
                font-size: 22px;
            }

/**********accueil********/

.back .overlay {
    background-image: linear-gradient( rgba(255, 0, 0, 0), #4F47E4), url("image/AgenceiCouv.jpg");
    min-height: 700px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}



  .hero-text {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align:inherit;
  }

    .hero-text h3 {
        color: antiquewhite;
    }

    .hero-text h6 {
        color: #c9f7f8;
    }

    .hero-text .header-btn {
        margin-top: 22px;
    }

        .hero-text .header-btn li {
            display: inline-block;
            margin: 10px 10px 0 0;
        }


            .hero-text .header-btn li a.main-btn {
                border-radius: 50px;
                overflow: hidden;
                background-color: #fff;
                border: 0;
                line-height: 50px;
                box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
            }



                .hero-text .header-btn li a.main-btn i {
                    margin-left: 5px;
                    color: #646EE5;
                }

        .hero-text .header-btn .btn-one {
            color: #fff;
        }

            .hero-text .header-btn .btn-one::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: linear-gradient(to right, #535CF1, #A147E4);
                z-index: -1;
                transition: all 0.3s ease;
                background-position: right center;
            }


            .hero-text .header-btn .btn-one:hover::before {
                background-image: linear-gradient(to left, #535CF1, #A147E4);
                background-position: left center;
            }


.divtwo h6 {
    position:absolute;
    right: 5%;
    left:5%;
    text-align: center;
    margin-bottom: 10px;
    color: #121212;
}

#connaitre-container {
    display: flex;
    align-items: center;
    padding: 8vw 8vw 2vw 8vw;
    justify-content: center;
}

    #connaitre-container .connaitre-img {
        width: 60%;
        padding-left: 200px;
    }

        #connaitre-container .connaitre-img img {
            width: 90%;
        }


    #connaitre-container .connaitre-text {
        width: 50%;
        padding-right: 200px;
    }

        #connaitre-container .connaitre-text h3 {
            color: #293038;
            padding-bottom: 15px;
            font-size: 35px;
        }

        #connaitre-container .connaitre-text p {
            color: #686F7A;
            font-weight: 600;
        }


.but .but-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 
}


.but-content .box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;

}

         .but-content .box .box-one {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
        }


             .but-content .box .box-one .buts {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-start;
                margin-bottom: 2rem;
            }


          
                 .but-content .box .box-one .buts i {
                    font-size: 2rem;
                    margin-bottom: 10px;
                    color: #535CF1;
                }

                 .but-content .box .box-one .buts .but-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    
                }




.nos-services {
    display: block;
    text-align: center;
}

.nos-services .table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 7rem;
    margin-left: 7rem;
}

    .nos-services .basic {
        width: 355px;
        height: 100%;
        border: 1px solid #535CF1;
        border-radius: 20px;
    }

        .nos-services .basic:hover  {
            background-image: linear-gradient(to right, #535CF1,#A147E4);
            color: #fff;
        }


        .nos-services .basic h4 {
            text-align: center;
            font-weight: 600;
            padding: 10px 0;
            font-size: 20px;
        }


        .nos-services .basic .table-containt {
            display: block;
            text-align: center;
            padding: 20px 0;
            font-size: 16px;
        }

        .nos-services .basic .but-icon {
            font-size: 2rem;
            margin-top: 20px;
            color: #535CF1;
        }




/*PART2*/
form {
    border-radius: 50px;
    border: 2px solid rgba(181, 184, 179, 0.527);
    width: 500px;
    justify-content: center;
    margin: auto;
    padding: 30px;
    margin-top: 100px;
}

.form {
    position: relative;
    width: 50%;
    justify-content: center;
    padding: 10px;
    margin: auto;
    padding: 10px;
    top: 100px;
}

.title-form {
    display: inline-block;
    position: absolute;
}

    .title-form::after {
        content: '';
        height: 3px;
        width: 43%;
        background: #252424;
        position: absolute;
        left: calc(50% - 50%);
        bottom: -5px;
    }

.rounded-pill {
    border-radius: 15px;
}

/* style Partie realisations*/
.realisation {
    position: relative;
    width: 50%;
    justify-content: center;
    padding: 10px;
    margin: auto;
    padding: 10px;
    top: 100px;
}

.realisation-box {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: -30px;
}

    .realisation-box::after {
        content: '';
        height: 4px;
        width: 43%;
        background: #252424;
        position: absolute;
        left: calc(80% - 50%);
        bottom: -5px;
    }

    .realisation-box::before {
        content: '';
        height: 4px;
        width: 43%;
        background: #252424;
        position: absolute;
        left: calc(80% - 50%);
        top: 125px;
    }

.realisation-1 {
    background-color: green;
    width: 300px;
    height: 150px;
    margin: 20px;
    margin-right: -19px;
}

.realisation-2 {
    background-color: blue;
    width: 300px;
    height: 150px;
    margin: 20px;
}

.realisation-3 {
    background-color: blue;
    width: 300px;
    height: 150px;
    margin: 20px;
    margin-left: -19px;
}

.title-realisation {
    display: inline-block;
    position: absolute;
}

    .title-realisation::after {
        content: '';
        height: 3px;
        width: 43%;
        background: #252424;
        position: absolute;
        left: calc(50% - 50%);
        bottom: -5px;
    }

/* NOs partenaires*/

.partenaires {
    position: relative;
    width: 50%;
    justify-content: center;
    padding: 10px;
    margin: auto;
    margin-top: 50px;
    top: 100px;
}

.partenaires-box {
    display: flex;
    justify-content: center;
    margin: 90px;
}

.title-partenaires {
    display: inline-block;
    position: absolute;
}

    .title-partenaires::after {
        content: '';
        height: 3px;
        width: 43%;
        background: #252424;
        position: absolute;
        left: calc(50% - 50%);
        bottom: -5px;
    }

.partenaires-images {
    width: 200px;
    height: 200px;
}


/* header*/
.header {
    background-color: #9e9898;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}

    .header div {
        padding: 20px;
        margin: 50px;
    }

    .header li {
        list-style-type: none;
    }

        .header li a {
            text-decoration: none;
            color: white;
        }

            .header li a:hover {
                color: rgb(36, 36, 82);
            }

.title-header-div {
    display: inline-block;
    position: absolute;
}

    .title-header-div::after {
        content: '';
        height: 3px;
        width: 43%;
        background: #252424;
        position: absolute;
        left: calc(50% - 50%);
        bottom: -5px;
    }

.header-div ul {
    margin-top: 80px;
}